h1 {
  font-family: fantasy;
  width: 400px;
  border-bottom: 2px solid cyan;
  text-align: center;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
img {
  width: 400px;
  height: 300px;
  margin: 10px;
}
